# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=d774ed85d78f69f7063619b225cf9a65

REDIS_HOST=redis-queue-redis
REDIS_PORT=6379

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

EMAIL_FROM=example@email.com
###< symfony/framework-bundle ###
